<%= form_with(model: datebooking, local: true) do |form| %>
  <% if datebooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datebooking.errors.count, "error") %> prohibited this datebooking from being saved:</h2>

      <ul>
      <% datebooking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :datebooking_date %>
  </div>
<%= form.hidden_field :user_id, :value => current_user.id %>
  <div class="field">
    <%= form.label :etat %>
    <%= form.check_box :etat, id: :datebooking_etat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
